.elements {
  margin-top: 46px;
}

.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px 18px;
  padding: 0;
}

.elements__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

.elements__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.elements__footer {
  background: white;
  padding: 25px 15px 25px 21px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.elements__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  max-width: 80%;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  grid-area: name;
  word-break: break-word;
  white-space: nowrap;
}
